@font-face {
    font-family: digit;
    src: url("../font/digit.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: auto;
    background: #EEEEEE;
    transition: 0.5s;
}

input {
    transition: all 0.5s;
}

.rotate-northeast {
    transform: rotate(45deg);
}

.rotate-southeast {
    transform: rotate(135deg);
}

.rotate-southwest {
    transform: rotate(-135deg);
}

.rotate-northwest {
    transform: rotate(-45deg);
}

.container {
    width: 500px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.cover-box {
    background: #3cb878;
    width: 100%;
    height: 770.5px;
    padding: 0 45px 60px;
    color: #EEE;
    /* height: 70vh; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cover-box h1 {
    margin-top: 40px;
    text-align: center;
}

.cover-box a {
    text-decoration: none;
    margin-top: 40px;
    background: #ECECEC;
    color: #107a43;
}

.cover-box a:hover {
    background: #FFFFFF;
    font-weight: bold;
    transition: 0.2s;
}

.cover-box footer {
    position: absolute;
    bottom: 20px;
}

.info-box {
    background: #1c9255;
    width: 100%;
    padding: 0 45px 60px;
    color: #EEE;
    height: 65vh;
    box-sizing: border-box;
}

.info-box nav {
    height: 5vh;
    line-height: 5vh;
    font-size: 3vh;
    color: #FFFFFF;
    text-align: right;
}

nav a:hover {
    color: #ECECEC;
}

nav a:hover i {
    transition: transform 0.5s;
    transform: rotate(90deg) scale(1.2);
}

.serve-box {
    height: 30vh;
    /* background: #ea34ba; */
}

.game-setting-box {
    height: 5vh;
}

.game-setting-wrapper {
    font-size: 12px;
    /* line-height: 14px; */
    padding: 0 10px;
    /* z-index: 2; */
    text-align: center;
}

/* .game-setting-box span {
    padding: 0 2px;
} */

.court-box {
    margin: 0 -45px;
    background-image: url('../image/badminton-court-flat.svg');
    background-size: cover;
    height: 24vh;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.court {
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    position: absolute;
}

.court #left-player, .court #right-player {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.court #left-player {
    align-items: flex-start;
    margin-left: 70px;
}

.court #right-player {
    align-items: flex-end;
    margin-right: 70px;
}

.player {
    margin: 1vh;
    text-align: center;
    width: 4em;
    height: 3.2em;
    transition: width 0.5s;
}

.player span {
    width: 100%;
    display: block;
    border: #EEEEEE 2px solid;
    background: #1F4A99;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px #333333;
}

.player p {
    font-weight: 900;
    text-shadow: 0 5px 10px #333333;
}

.serve-icon-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serve-icon-wrapper {
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    background: #ECECEC;
    box-shadow: 0 0 10px #333333;
    border-radius: 50%;
    color: #000000;
}

#serve-icon {
    transition: 0.8s;
}

.score-box {
    /* background: #3245EE; */
    height: 30vh;
}

#prev-games-score {
    width: 100%;
    justify-content: center;
    display: flex;
}

.match-score p {
    padding: 0 2px;
    font-size: 18px;
}

.game-score {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1.score {
    font-size: 3.5em;
    line-height: 1em;
    width: 40%;
    color: #FFFFFF;
    transition: all 0.8s;
}

h1.serve-score {
    color: #ff9148;
}

.game-index {
    font-size: 14px;
}

.game-info {
    width: 20%;
}

.game-info h2 {
    font-size: 32px;
}

.time {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.operation-box {
    background: #EEEEEE;
    margin-top: -40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 30px 5vw 30px;
    bottom: 0;
}

.score-table {
    display: flex;
    margin: 1em -5vw;
    position: relative;
}

.p1-line, .p2-line {
    border: #333333 1px solid;
    border-bottom: none;
    border-left: none;
    height: 1.5em;
    line-height: 1.5em;
    min-width: 1.5em;
    text-align: center;
}

.players .p2-line:last-child, .serves .p2-line:last-child, .single-score .p2-line:last-child {
    border-bottom: #333333 1px solid;
}

.p1-line {
    background: #FFFFFF;
}

.p2-line {
    background: #BBBBBB;
}

.serves {
    width: 6%;
    position: relative;
}

.serves .p1-line {
    background: #c5f8de;
}

.serves .p2-line {
    background: #49c083;
}

.scroll-panel {
    display: flex;
    position: relative;
}

.score-table .players {
    width: 34%;
}

.players p {
    padding-left: 10px;
    text-align: left;
}

.serves p {
    font-weight: 900;
    color: #333333;
}

.score-panel {
    position: relative;
    width: 60%;
    overflow: auto;
    scrollbar-width: 0;
}

.score-panel::-webkit-scrollbar {
    display: none;
}

.scroll-shadow {
    position: absolute;
    top: 0;
    height: 100%;
    width: 6%;
    z-index: 2;
    display: none;
}

.shadow-left {
    background: linear-gradient(to right, #33333333, transparent);
    left: 40%;
}

.shadow-right {
    background: linear-gradient(to left, #33333333, transparent);
    right: 0;
    display: block;
}

.btn {
    font-size: 20px;
    background: #1c9255;
    color: #ECECEC;
    border: none;
    width: 5em;
    height: 1.8em;
    line-height: 1.8em;
    text-align: center;
    border-radius: 8px;
    margin: 0 20px;
}

.btn:hover {
    background: #107a43;
    transition: 0.5s;
}

.btn:disabled {
    background: #CCCCCC;
}

.blur {
    filter: blur(10px);
}

.hidden {
    display: none;
}

.transparent {
    border: none;
    background: transparent;
    color: transparent;
    opacity: 0;
}

.event-dlg, .input-container, .interval-dlg {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
}

.dlg, .input-box {
    background: #FCFCFC;
    width: 400px;
    /* height: 70vh; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px #333333;
    border-radius: 40px;
    padding: 40px 0 20px;
    box-sizing: border-box;
}

.input-box {
    height: 650px;
    padding-top: 0;
    overflow: hidden;
}

.input-box nav {
    height: 50px;
    display: flex;
    padding-right: 20px;
    justify-content: flex-end;
}

.input-box nav a, .cancel-box button {
    font-size: 20px;
    line-height: 50px;
    padding-right: 20px;
    border: none;
    background: none;
    color: #107a43;
}

.cancel-box button {
    padding-right: 0;
}

.input-box nav a:hover i, .cancel-box button:hover i {
    transform: rotate(90deg);
    transition: transform 0.5s;
}

.event-operation {
    border: #107a43 1px solid;
    border-radius: 5px;
    margin: 1em 1em 1.5em;
    padding: 1em 0.5em 0.5em;
    position: relative;
}

.event-operation h3 {
    position: absolute;
    top: 0;
    transform: translateY( -50%);
    background: #FCFCFC;
    padding: 0 0.5em;
}

.event-operation .btn-group {
    display: flex;
    align-items: center;
    padding:0 0.5em;
}

.event-operation .btn {
    margin: 0 0;
    font-size: 14px;
    background: #FFFFFF;
    border: #1c9255 1px solid;
    color: #333333;
    box-shadow: 2px 2px 2px #33333333;
    min-width: 25%;
    height: auto;
    padding: 0.2em 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-operation button:hover {
    background: #CCCCCC;
}

.injure-panel {
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 0.5em;
}

.injure-stop{
    width:50%;
}
.btn-group .btn{
    border-radius: 0;
    border-collapse: collapse;
    border-right: none;
}

.btn-group .btn:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.btn-group .btn:last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: #1c9255 1px solid;
}
.btn i {
    font-size: 1.2em;
    margin-right: 0.5em;
}

.time-panel {
    line-height: 1.5em;
    text-align: center;
    width: 30%;
    font-family: digit, sans-serif;
    border-radius: 5px;
    padding: 0.2em 1em;
    background: #999999;
    color: #EEEEEE;
    text-shadow: 0 0 2px #EEEEEE;
}

.time-panel span {
    padding: 0 0.2em;
}

.time-panel.active span.seperator {
    animation: blink 1s infinite;
}

.injure-stop:disabled {
    background-color: #DDDDDD;
    color: #999999;
    border-color: #AAAAAA;
}

.injure-stop:disabled i {
    color: #999999;
}

.cancel-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    margin-top: -20px;
}

.cancel-box h1, .interval-dlg h1 {
    font-size: 1.5em;
    color: #107a43;
}

.fa-medkit {
    color: #ff4f42;
}

.yellow-card {
    color: #ffd700;
}

.yellow-back {
    background-color: #fff098;
}

.red-card {
    color: #fa3535;
}

.red-back {
    background-color: #ff9595;
}

.black-card {
    color: #111111;
}

.black-back {
    color: #111111;
}

.yellow-card, .red-card, .black-card {
    transform: scaleY(1.2);
}

.bottom-shadow {
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    width: 100%;
    height: 4em;
    line-height: 4em;
    background: linear-gradient(to bottom, #FFFFFFCC, #DDDDDD);
    z-index: 5;
}

.bottom-shadow i {
    font-size: 1em;
    color: #1c9255;
    cursor: pointer;
}

.bottom-shadow i:hover {
    animation: moveBottom 0.5s infinite;
}

.scroll-top {
    position: fixed;
    bottom: 80px;
    transform: translateY(40px);
    left: 40px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px #333333;
    background: #107a43;
    color: #FFFFFF;
    display: none;
    transition: transform 0.5s;
    z-index: 5;
}

.input-wrapper {
    position: relative;
    height: 600px;
    padding: 0 20px;
    overflow: auto;
    scrollbar-width: 0;
}

.input-wrapper::-webkit-scrollbar {
    display: none;
}

.input-scroll h1 {
    color: #107a43;
    text-align: center;
}

.setting-item, .player-setting-item {
    margin-bottom: 10px;
}

.setting-item h2, .player-setting-item h2 {
    font-size: 18px;
    color: #777;
}

.setting-item h2 span, .setting-item h2 div {
    margin-left: 5px;
    font-size: 10px;
}

#hint-btn:hover {
    color: #333333;
}

.hint {
    background: #777777;
    color: #FFFFFF;
    padding: 0.2em 0.5em;
    border-radius: 5px;
    position: relative;
}

.hint:before {
    content: "";
    height: 10px;
    width: 10px;
    background: #777777;
    position: absolute;
    left: -3px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    z-index: -1;
}

.setting-item h2+div {
    padding-top: 5px;
}

.setting-group {
    padding: 0 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
}

.setting-group div {
    line-height: 1em;
    display: flex;
    align-items: center;
}

.setting-group label {
    margin-left: 2px;
}

.setting-group input[type="text"] {
    width: 7em;
    margin-left: 2px;
    height: 1.5em;
    text-align: right;
}

.other-setting .setting-group input[type="text"] {
    width: 10em;
}

.switch-group {
    position: relative;
    height: 1em;
    display: flex;
    align-items: center;
}

.switch {
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.score-input {
    width: 2em !important;
}

.next-btn-box, .prev-btn-box, .btn-box {
    display: flex;
    margin: 20px 0;
}

.next-btn-box {
    justify-content: flex-end;
}

.prev-btn-box {
    justify-content: flex-start;
}

.btn-box {
    justify-content: center;
}

#next-btn, #prev-btn {
    background: none;
    border: none;
    color: #107a43;
    font-size: 14px;
    height: 30px;
    line-height: 20px;
    display: flex;
    align-items: center;
}

#next-btn i, #prev-btn i {
    margin: 0 10px;
    font-size: 20px;
    line-height: 20px;
}

#next-btn:hover, #prev-btn:hover {
    transition: all 0.5s;
}

#next-btn:hover i {
    animation: moveRight 0.5s infinite;
}

#prev-btn:hover i {
    animation: moveLeft 0.5s infinite;
}

#prev-btn {
    margin: 20px 0;
}

.player-setting-item {
    border: #107a43 1px solid;
    border-radius: 5px;
    margin: 20px 0;
    padding: 10px;
    position: relative;
}

.player-setting-item h2 {
    margin-top: -20px;
    margin-bottom: 10px;
    background: #FCFCFC;
    width: 4em;
    text-align: center;
}

.single-player {
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: center;
    padding: 5px 0;
    border-bottom: #ccc 1px solid;
}

.radio-group {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}

.single-player input[type="text"] {
    line-height: 1.5em;
    width: 5em;
}

.serve-col {
    /* width:3em; */
    text-align: center;
}

.receive-col {
    /* width:4em; */
    text-align: center;
}

.text-group {
    display: flex;
}

.text-group input {
    margin-right: 5px;
}

.interval-dlg .dlg {
    padding: 40px 20px 20px;
}

.interval-dlg h1 {
    width: 100%;
    text-align: center;
}

#counter {
    margin-top: 1em;
    margin-bottom: 2em;
    margin: auto;
    width: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background: #c5f8de;
}

.interval-count-down {
    font-size: 48px;
    color: #666666;
    font-family: digit;
    text-align: right;
    position: relative;
}

.interval-count-down {
    padding: 0 10px;
}

@media (max-width: 599px) {
    .container {
        width: 100%;
    }
    .court #left-player {
        align-items: flex-start;
        margin-left: 14vw;
    }
    .court #right-player {
        align-items: flex-end;
        margin-right: 14vw;
    }
    .score-panel {
        overflow: scroll;
    }
    .dlg {
        width: 80%;
    }
    .info-box {
        padding: 0 5vw 60px;
    }
    .court-box {
        margin: 0 -5vw;
    }
    .cover-box {
        height: 100vh;
    }
    .cover-box br {
        display: block;
    }
    .input-box {
        width: 90vw;
        height: 80vh;
        border-radius: 10px;
    }
    .input-wrapper {
        height: calc(80vh - 70px);
    }
}

@media (min-width:600px) {
    .operation-box {
        border: solid 1px;
    }
    .cover-box br {
        display: none;
    }
    .input-wrapper {
        padding: 0 40px;
    }
    .info-box, .operation-box {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* padding-top:0; */
        border: none;
        box-shadow: 0 0 10px #333333;
        box-sizing: border-box;
    }
    .info-box {
        height: 65vh;
    }
    .operation-box {
        height: calc(35vh + 40px);
    }
}

@keyframes blink {
    0%, 100% {
        text-shadow: 0 0 2px #ECECEC;
    }
    50% {
        color: transparent;
        text-shadow: none;
    }
}

@keyframes moveRight {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
}

@keyframes moveLeft {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-5px);
    }
}

@keyframes moveBottom {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateY(5px);
    }
}